bin/
obj/
release/
production/
publish_final/
logs/
*.exe
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json
apphost.exe
node.exe
*.log
*.out.txt
*.err.txt
*.bak
.vs/
.vscode/
*.user
*.suo
tools/roxify/
**/tools/roxify/
tools/roxify/node_modules/
tools/roxify/dist/
release/roxify/
node_modules/
# Exclude local modules and build artifacts
node_modules/
